@import "reset"

.container
  margin: 0 auto
  max-width: 1170px
  position: relative
  padding: 30px 15px


//FormAdd
.fill_bit
  margin-bottom: 10px
  
input
  border: 1px solid #caafaf
  border-radius: 3px
  padding: 0 10px
  height: 25px

label
  display: block

h1
  margin-bottom: 30px

.name-block
  background: #EEEEEE
  padding: 30px

.user_list
  transition: .3s linear
  li.people_cell
    margin-bottom: 15px
    padding: 5px 0
    border-radius: 5px
    &:nth-child(odd)
      background: #CCCCCC

.img_user
  overflow: hidden
  position: relative
  border-radius: 50%
  width: 100px
  height: 100px
  border: 5px solid #ffffff
  img
    max-width: 100%

.stnd_div
  text-transform: capitalize
  width: 14.25%

.main_info
  display: flex
  justify-content: space-around
  align-items: center
  position: relative
  padding-right: 50px

.header_list
  display: flex
  justify-content: space-around
  padding-right: 50px
  margin-bottom: 10px
  font-weight: bold
  transition: .3s linear
  li
    width: 14.25%

.btn_more
  position: absolute
  right: 20px
  background: transparent
  i
    font-size: 42px
    color: #666666
    transition: .3s linear
  &:hover
    i
      color: #ab5f5f
      transition: .3s linear

.collapsed
  .btn_more
    i
      color: #ab5f5f
      transition: .3s linear
      transform: rotate(45deg)
      transform-origin: 50% 50%

.detail_list
  display: flex
  justify-content: space-between
  padding: 0 30px
  li
    div
      font-size: 14px

.main_name
  text-transform: capitalize
  padding: 30px 0 0 30px
  margin-bottom: 10px
  i
    color: #666666
    font-size: 20px

.img_user.img_more
  width: 150px
  height: 150px
  img
    width: 100%
    height: 100%

.fix
  display: none

.scrolled.fix
  display: block

.scrolled
  position: fixed
  width: 100%
  top: 0
  left: 0
  z-index: 1000
  background: rgba(255, 255, 255, 0.95)
  .header_list
    padding: 10px 95px 10px 45px
    margin: 0 auto
    max-width: 1170px
    transition: .3s linear

.collapse_body
  height: 0
  overflow: hidden
  transition: height .5s ease

.people_cell
  position: relative
  transition: .3s linear

.delete_btn
  position: absolute
  right: -25px
  top: 50%
  transform: translateY(-50%)
  i
    font-size: 20px
    transition: .3s linear
  &:hover
    i
      color: #ab5f5f
      transition: .3s linear


.list-enter-active, .list-leave-active
  transition: all .8s

.list-leave-to
  opacity: 0
  transform: translateX(-30px)